<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>eft</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleTypeName</key>
			<string>EVE Fitting Tool File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.eveops.eft-fitting</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>EVE Fitting Tool File</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.eveops.eft-fitting</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>eft</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/MikeManzo/EVEOps/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>y+33YO6BpkfLECMjKFrZhjalMQzj7rNSHhtj3dNA3DY=</string>
</dict>
</plist>
